body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1{
    font-size: 3rem;
}

.options{
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.options button{
    font-size: 7rem;
    border-radius: 300px;
    border: none;
    min-width: 160px;
    margin: 0px 20px;
    background-color: hsl(194, 80%, 69%);
    transition: background-color 0.5s ease;
    box-shadow: 0px 8px 15px hsla(215, 91%, 14%, 0.39);
    cursor: pointer;
}

.options button:hover{
    background-color: hsl(194, 80%, 49%);
     box-shadow: 0px 8px 15px hsla(215, 91%, 34%, 0.39);
}

#playerDisplay, #computerDisplay{
    font-size: 2rem;
    margin-bottom: 10px;
    text-align: center;
}

#resultDisplay{
    font-size: 4rem;
    margin-top: 20px;
    text-align: center;
}

.green-text, #playerscoredisplay{
    color: rgb(41, 225, 41);
}

.red-text, #computerscoredisplay{
    color: rgb(234, 50, 50);
}

.scoredisplay{
    font-size: 1.4rem;
    text-align: center;
}

@media (max-width: 768px) {
    h1{
        font-size: 2.2rem;
        text-align: center;
    }
    .options button{
        font-size: 4rem;
        min-width: 100px;
        margin: 5px;
    }
    #resultDisplay{
        font-size: 1.5rem;
    }
    #playerDisplay, #ComputerDisplay{
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {
    h1{
        font-size: 1.8rem;
        /* text-align: center; */
    }
    .options{
        gap: 8px;
    }
    .options button{
        font-size: 3rem;
        min-width: 80px;
        margin: 5px;
    }
    #resultDisplay{
        font-size: 2rem;
    }
    #playerDisplay, #ComputerDisplay{
        font-size: 1rem;
    }
}


